.tryAgainButton {
    margin-top: 1%;
    margin-right: 2%;
    position:absolute; top:0; right:0;
}

.theHeader {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.guessButton{
    font-size: 25px;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    margin-left: 45%;
    
    

}

.inputBox {
    size:"3";
    margin-right: 70%;

}
.myDIV {
    background-image: url("images/02-image-example.png");  
  }  